.navbar__items{
    display: flex;
    flex-direction: row;
    /* width: 230px; */
    font-size: large;
    /* justify-content: space-between; */
    font-weight: 700;
}
.navbar__item{
    margin: 10px;

}
.navbar__items>*{
    text-decoration: none;
    color: black;
}
.navbar__item:hover{
    color: var(--gian);
    text-decoration: none;
}

.navbar__active{
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 7px solid var(--gian);
}