@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

:root{
    --gian: #00bf8f; 
}

body{
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-main{
    width: 100vw;
    /* margin: 1rem; */

}
.row{
    height: 95vh;
    margin: 0 auto;
    /* width: 95vw; */
}

.row>*>*{
    padding: 1rem;
}
.app__sidebar{
    height: 95vh;
    /* position: absolute; */
    border-radius: 1rem;
    margin: .5rem;
    background-color: #fff;
}
.app__main-content{
    overflow-x: hidden;
    overflow-y: auto;
    height: 95vh;
    max-height: 95vh;
    margin: .5rem;
    border-radius: 1rem;
    background-color: #fff;    
}

hr{
    background-color: #2a0845;
    color: #2a0845;
    width: 100px;
    height: 2.5px;
}